* {
  margin: 0;
  font: 62.5% 'Euclid Circular A', sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

::placeholder {
  color: #101326;
  opacity: 0.4;
}

body {
  background-color: #effdf6;
  min-height: 100vh;
  padding: 3rem;
  max-width: 600px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

section {
  margin-bottom: 3rem;
}

h2 {
  font-size: 3.5rem;
  font-weight: bold;
  margin: 0.5em 0;
}

p {
  font-size: 1.5rem;
}

.note {
  color: #101326;
  opacity: 0.5;
  font-size: 1.75rem;
  margin: 1.25em 0;
}

.perks {
  background-color: #e0fbed;
  padding: 24px;
  border-radius: 24px;
}

.perk {
  display: flex;
  color: #101326;
  align-items: center;
  margin: 1.5rem 0;
}

.perk_content {
  margin-left: 1rem;
}

.perk_content_point {
  font-size: 1.25rem;
  margin: 0.5em 0;
  opacity: 0.4;
  font-weight: 600;
}

.perk_content_desc {
  font-weight: bold;
}

button {
  background-color: #68f3a8;
  height: 64px;
  border-radius: 24px;
  border: none;
  color: black;
  font-size: 2rem;
  font-weight: bold;
  margin: 2rem 0;
  cursor: pointer;
}

footer {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-top: 3rem;
}

.credit {
  display: flex;
  background-color: #e8f6ef;
  height: 50px;
  width: auto;
  padding: 2.5rem;
  text-align: center;
  font-size: 1.5rem;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}

.credit > span {
  font-size: 1.75rem;
  font-weight: bold;
  color: #0d145c;
  margin: 0 4px;
}

/* INSTITUTIONS */

.back_button {
  margin: 2rem 0;
}

.search {
  width: 100%;
  border: none;
  height: 52px;
  background-color: rgb(104 243 169 / 0.1);
  color: #101326;
  font-size: 1.75rem;
  padding: 16px 5rem 16px;
  border-radius: 16px;
  position: relative;
}

#search-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  position: relative;
  left: 16px;
  top: -36px;
}

.products {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 12px;
  align-items: center;
  justify-items: center;
}

.product {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 140px;
  height: 140px;
  border-radius: 24px;
  margin: 1rem 0;
}

.product:nth-of-type(1n) {
  background-color: rgb(217 79 0 / 0.2);
}

.product:nth-of-type(2n) {
  background-color: rgb(137 52 173 / 0.2);
}

.product:nth-of-type(3n) {
  background-color: rgb(5 93 224 / 0.2);
}

.product:nth-of-type(4n) {
  background-color: rgb(8 62 158 / 0.2);
}

/* LOGIN PAGE */

.login {
  background-color: #d94f00;
  color: white;
}

.button_submit {
  color: #101326;
  background-color: white;
}

.img_border {
  border-radius: 25px;
  border: 3px white solid;
}

form {
  margin: 2rem 0;
}

.email,
.password {
  width: 100%;
  border: none;
  height: 64px;
  background-color: rgb(255 255 255 / 0.1);
  color: white;
  font-size: 1.75rem;
  padding: 36px 24px 16px;
  border-radius: 16px;
  position: relative;
  margin: 1.5rem 0;
}

label {
  display: inline-block;
  font-size: 1.5rem;
  position: relative;
  left: 24px;
  top: 44px;
  opacity: 0.8;
  font-weight: 500;
}

/* SUCCESS MESSAGE */

.success {
  background-image: url(/assets/img/background.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
  text-align: center;
}

.flex_center_colum {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.connected {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5rem 0 3rem;
}

.service {
  margin-left: 8px;
}
